[mysqld]
innodb_use_native_aio=0
pid-file	= /tmp/mysqld.pid
socket		= /tmp/mysqld.sock
datadir		= /var/lib/mysql
innodb_use_native_aio=0
symbolic-links=0
skip-host-cache
skip-name-resolve
skip-networking

[mysql]
socket		= /tmp/mysqld.sock